<section class="flex">
	<div class="w-full md:w-2/3">
		<div class="mt-4">
			<form>
      		<a href="#">
  				<img src="<%= asset_path('logo.png') %>" class="w-24">
			</a>
			
	      
		      <div class="mb-4 mt-16">

		      	<h1 class="text-2xl">Professional Informations</h1>

		      	<div class="w-full md:w-2/3">
		      		

			      	<div class="mt-6">
		      			<label class="block text-gray-700 text-sm font-semibold mb-2" for="email">
					          What do you Love ?
				        </label>
				        <input class="text-sm appearance-none w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10" id="email" type="text"placeholder="mike@whizzo.co"/>
		      		</div>

			      	<div class="mt-6">
		      			<label class="block text-gray-700 text-sm font-semibold mb-2" for="email">
					          What do you do ?
				        </label>
				        <input class="text-sm appearance-none w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10" id="email" type="text"placeholder="mike@whizzo.co"/>
		      		</div>

		      		<div class="mt-6">
		      			<label class="block text-gray-700 text-sm font-semibold mb-2" for="phone">
					          Pick your objectif:
				        </label>
				        <input class="text-sm appearance-none w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10" id="phone" type="text"placeholder="0610437344"/>
		      		</div>


		      		<div class="mt-6">
		      			<label class="block text-gray-700 text-sm font-semibold mb-2" for="phone">
					          Your Resume Link:
				        </label>
				        <input class="text-sm appearance-none w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10" id="phone" type="text"placeholder="0610437344"/>
		      		</div>

		      	</div>

		      	<div class="w-full md:w-2/3 flex justify-between items-center mt-6">

		      		<a href="#" class="text-whizzo-400 no-underline border-b-2 border-whizzo-300 hover:border-transparent font-semibold">Done</a>

		      		<button class="flex items-center justify-between w-32 bg-whizzo-300 hover:bg-grey-900 text-white text-sm py-2 px-4 font-semibold rounded-full focus:outline-none focus:shadow-outline h-10" type="button">Next Step

		      		<i class="fas fa-chevron-right"></i>

		      		</button>
		      	</div>
		        
		      </div>
	      
    	</form>
		</div>
	</div>


	<div class="hidden md:block w-1/2 bg-whizzo-300 h-screen">
		<div class="mt-20">
			<div class="flex justify-center">
				<a class="text-lg text-white h-12 w-12 flex items-center justify-center" href="#">1</a>
				<a class="text-lg text-white border-2 ml-2 rounded-full h-12 w-12 flex items-center justify-center" href="#">2</a>
				<a class="text-lg text-white ml-2 h-12 w-12 flex items-center justify-center" href="#">3</a>
				<a class="text-lg text-white ml-2 h-12 w-12 flex items-center justify-center" href="#">4</a>
			</div>

			<div class="flex flex-col">
				<div class="border-b-4 w-24 mt-10 bg-white self-center"></div>
				<img src="<%= asset_path('step2.png') %>" class="w-1/2 mt-10 self-center">
				<div class="text-center self-center w-2/3 mt-10">
					<h1 class="text-white text-xl">Professional Information</h1>
					<p class="text-white font-light">Fill out your professional data. You can always edit the data in the settings menu</p>
				</div>
			</div>

		</div>
	</div>
</section>